<table class="table">
    <thead>
    <tr>
        <th>{% trans %}Account from{% endtrans %}</th>
        <th>{% trans %}Account to{% endtrans %}</th>
        <th>{% trans %}Amount{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for transfer in transfers %}
        <tr>
            <td>
                <div>{{ transfer.from.name }}</div>
                <div class="text-muted">{{ transfer.from.owner.fullname }}</div>
            </td>
            <td>
                <div>{{ transfer.to.name }}</div>
                {% if transfer.to.owner is not null %}
                    <div class="text-muted">{{ transfer.to.owner.fullname }}</div>
                {% endif %}
            </td>
            <td>{{ transfer.amount | format_currency('EUR') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
