{% extends 'base-connected.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="mb-3">
        {{ sonata_block_render({ type: 'app.block.monthpicker' }, {
            date: date
        }) }}
    </div>
    <div class="mb-3">
        <div class="row">
            {% for account in accounts %}
                {% if is_granted('view', account) %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="mb-3">
                            {{ sonata_block_render({ type: 'app.block.card.account' }, {
                                account: account,
                                date: date
                            }) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    {% embed "components/card.html.twig" %}
                        {% block header %}
                            {% trans %}Transfers{% endtrans %}
                        {% endblock %}

                        {% block body %}
                            {{ sonata_block_render({ type: 'app.block.table.transfers' }, {
                                transfers: transfers
                            }) }}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="mb-3">
                    {% embed "components/card.html.twig" %}
                        {% block header %}
                            {% trans %}Living Wage{% endtrans %}
                        {% endblock %}

                        {% block body %}
                            {{ sonata_block_render({ type: 'app.block.table.livingWage' }, {
                                livingWage: livingWage
                            }) }}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
