{% extends 'base-connected.html.twig' %}

{% block title %}{% trans %}Charge List{% endtrans %}{{ parent() }}{% endblock %}

{% block body %}

    {{ sonata_block_render({ type: 'app.block.searchbar' }, {
        form: formFilter,
        actions: [
            { route: 'bank_charge_add', icon: 'fa-plus', text: 'Add', modal: "Add Charge" }
        ]
    }) }}

    <div class="mb-3">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}Charge Name{% endtrans %}</th>
                <th>{% trans %}Account{% endtrans %}</th>
                <th class="text-end">{% trans %}Amount{% endtrans %}</th>
                <th class="text-end">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for charge in charges %}
                <tr>
                    <td>{{ charge.name }}</td>
                    <td>
                        <div>{{ charge.account.name }}</div>
                        {% if charge.account.owner is not null and charge.account.owner is not same as app.user %}
                            <div class="text-muted">({{ charge.account.owner.fullname }})</div>
                        {% endif %}
                    </td>
                    <td class="text-end">{{ charge.amount | format_currency('EUR') }}</td>
                    <td class="text-end">

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                {% if is_granted('edit', charge) %}
                                    <li>
                                        <a href="{{ path('bank_charge_update', { charge: charge.id }) }}"
                                           class="dropdown-item"
                                           data-action="app#openModal"
                                           data-title="{% trans %}Edit Charge{% endtrans %}">
                                            <i class="fas fa-pencil-alt"></i>
                                            {% trans %}Edit Charge{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if is_granted('delete', charge) %}
                                <li>
                                    <a href="{{ path('bank_charge_delete', { charge: charge.id }) }}" class="dropdown-item">
                                        <i class="fas fa-trash"></i>
                                        {% trans %}Delete Charge{% endtrans %}
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
