{% extends 'base-connected.html.twig' %}

{% block title %}{% trans %}Update charge{% endtrans %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="mb-3">
        <h1>{% trans %}Update charge{% endtrans %}</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i>
            {% trans %}Update{% endtrans %}
        </button>
        <a  class="btn btn-danger" href="{{ path('bank_charge_delete', { charge: charge.id }) }}">
            <i class="fas fa-trash-alt"></i>
            {% trans %}Delete{% endtrans %}
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
