{% extends 'base-connected.html.twig' %}

{% block title %}{% trans %}Resource List{% endtrans %}{{ parent() }}{% endblock %}

{% block body %}

    {{ sonata_block_render({ type: 'app.block.searchbar' }, {
        form: formFilter,
        actions: [
            { route: 'bank_resource_add', icon: 'fa-plus', text: 'Add' }
        ]
    }) }}

    <div class="mb-3">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}Resource Name{% endtrans %}</th>
                <th>{% trans %}Account{% endtrans %}</th>
                <th class="text-end">{% trans %}Amount{% endtrans %}</th>
                <th class="text-end">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
                <tr>
                    <td>{{ resource.name }}</td>
                    <td>
                        <div>{{ resource.account.name }}</div>
                        {% if resource.account.owner is not null and resource.account.owner is not same as app.user %}
                            <div class="text-muted">({{ resource.account.owner.fullname }})</div>
                        {% endif %}
                    </td>
                    <td class="text-end">{{ resource.amount | format_currency('EUR') }}</td>
                    <td class="text-end">

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                {% if is_granted('edit', resource) %}
                                    <li>
                                        <a href="{{ path('bank_resource_update', { resource: resource.id }) }}" class="dropdown-item">
                                            <i class="fas fa-pencil-alt"></i>
                                            {% trans %}Edit Resource{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="{{ path('bank_resource_delete', { resource: resource.id }) }}" class="dropdown-item">
                                        <i class="fas fa-trash"></i>
                                        {% trans %}Delete Resource{% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
