{% extends 'base-connected.html.twig' %}

{% block title %}{% trans %}Account List{% endtrans %}{{ parent() }}{% endblock %}

{% block body %}

    {{ sonata_block_render({ type: 'app.block.searchbar' }, {
        form: formFilter,
        actions: [
            { route: 'bank_account_add', icon: 'fa-plus', text: 'Add', modal: "Add Account" }
        ]
    }) }}

    <div class="mb-3">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans %}Account Name{% endtrans %}</th>
                <th>{% trans %}Account Owner{% endtrans %}</th>
                <th>{% trans %}Account Created By{% endtrans %}</th>
                <th class="text-end">{% trans %}Resource Total{% endtrans %}</th>
                <th class="text-end">{% trans %}Charge Total{% endtrans %}</th>
                <th class="text-end">{% trans %}Total{% endtrans %}</th>
                <th class="text-end">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.owner ? account.owner.fullname : '' }}</td>
                    <td>{{ account.createdBy.fullname }}</td>
                    <td class="text-end">{{ account.totalResources | format_currency('EUR') }}</td>
                    <td class="text-end">{{ account.totalCharges | format_currency('EUR') }}</td>
                    <td class="text-end">{{ account.total | format_currency('EUR') }}</td>
                    <td class="text-end">

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('bank_charge_list', { account: account.id }) }}" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        {% trans %}Show Charges{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('bank_resource_list', { account: account.id }) }}" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        {% trans %}Show Resources{% endtrans %}
                                    </a>
                                </li>

                                {% if is_granted('edit', account) %}
                                    <li>
                                        <a href="{{ path('bank_account_update', { account: account.id }) }}"
                                           class="dropdown-item"
                                           data-action="app#openModal"
                                           data-title="{% trans %}Update account{% endtrans %}">
                                            <i class="fas fa-pencil-alt"></i>
                                            {% trans %}Edit Account{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if is_granted('share', account) %}
                                    <li>
                                        <a href="{{ path('bank_account_share', { account: account.id }) }}"
                                           class="dropdown-item"
                                           data-action="app#openModal"
                                           data-title="{% trans %}Share Account{% endtrans %}">
                                            <i class="fas fa-share-alt"></i>
                                            {% trans %}Share Account{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if is_granted('delete', account) %}
                                <li>
                                    <a href="{{ path('bank_account_delete', { account: account.id }) }}" class="dropdown-item">
                                        <i class="fas fa-trash"></i>
                                        {% trans %}Delete Account{% endtrans %}
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
