{% extends 'components/card.html.twig' %}

{% block card_attributes %}
    data-controller="card-account"
{% endblock %}

{% block header %}
    <div class="d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            {{ account.name }}
            {% if account.hasResources %}
                <span class="text-muted">
                    ({{ account.totalResources | format_currency('EUR') }})
                </span>
            {% endif %}
        </div>
        <div>
            <div class="dropdown">
                <button class="btn" type="button" id="button-account-{{ account.id }}" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="button-account-{{ account.id }}">
                    {% if is_granted('edit', account) %}
                        <li>
                            <a class="dropdown-item" href="{{ path('bank_account_update', { account: account.id }) }}">
                                <i class="fas fa-pencil-alt"></i>
                                {% trans %}Update{% endtrans %}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('edit', account) %}
                        <li>
                            <a class="dropdown-item" href="{{ path('bank_resource_add', { account: account.id }) }}">
                                <i class="fas fa-plus"></i>
                                {% trans %}Add resource{% endtrans %}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('edit', account) %}
                        <li>
                            <a class="dropdown-item" href="{{ path('bank_charge_add', { account: account.id }) }}">
                                <i class="fas fa-plus"></i>
                                {% trans %}Add charge{% endtrans %}
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('share', account) %}
                        <li>
                            <a class="dropdown-item" href="{{ path('bank_account_share', { account: account.id }) }}">
                                <i class="fas fa-share-alt"></i>
                                {% trans %}Share account{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table class="table table-borderless table-sm table-hover table-py-0">
        {% for charge in account.charges %}
            <tr class="align-middle">
                <td class="w-100">
                    {{ charge.name }}
                </td>
                <td class="text-end">
                    {{ charge.amount | format_currency('EUR') }}
                </td>
                <td class="d-flex">
                    <a class="btn" href="{{ path('bank_charge_update', { account: account.id, charge: charge.id }) }}">
                        <i class="{{ ['fas fa-share-alt'] | merge(charge.hasChargeDistribution ? [] : ['text-muted']) | join(' ') }}"></i>
                    </a>
                    <a class="btn" href="{{ path('bank_charge_update', { account: account.id, charge: charge.id }) }}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block footer %}
    <div class="d-flex align-items-center">
        <div class="flex-fill">Total</div>
        <div class="text-end ps-1">{{ account.total | format_currency('EUR') }}</div>
    </div>
{% endblock %}
