{% extends 'components/card.html.twig' %}

{% block card_attributes %}
    data-controller="card-account"
{% endblock %}

{% block header %}
    <div class="d-flex align-items-center justify-content-between">
        <div class="flex-fill">
            {{ account.name }}
            {% if account.hasResources %}
                <span class="text-muted">
                    ({{ account.totalResources | format_currency('EUR') }})
                </span>
            {% endif %}
        </div>
        <div>
            <div class="dropdown">
                <button class="btn" type="button" id="button-account-{{ account.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="button-account-{{ account.id }}">
                    <li>
                        <a class="dropdown-item" href="{{ path('bank_account_update', { account: account.id }) }}">
                            {% trans %}Update{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('bank_resource_add', { account: account.id }) }}">
                            {% trans %}Add resource{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-action="card-account#openModal">
                            {% trans %}Add charge{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            {% trans %}Share account{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% for charge in account.charges %}
        <div class="d-flex align-items-center">
            <div class="flex-fill">{{ charge.name }}</div>
            <div class="text-end ps-1">{{ charge.amount | format_currency('EUR') }}</div>
            <div class="text-center ps-1">
                <button type="button" class="btn">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <div class="d-flex align-items-center">
        <div class="flex-fill">Total</div>
        <div class="text-end ps-1">{{ account.total | format_currency('EUR') }}</div>
    </div>
{% endblock %}